body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', 'Helvetica Neue', Arial, sans-serif;
    color: #001b2f;
}
  
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}